{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'wishlist/css/wishlist.css' %}">
{% endblock %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container">
    <div class="row">
        <div class="col">
            <hr>
            <h2 class="logo-font mb-4">My Wishlist</h2>
            <hr>
        </div>
    </div>
    {% if wishlist.products.all %}
        <div class="row">
            <div class="col-12">
                {% for product in wishlist.products.all %}
                <div class="card mb-3" style="max-width: 540px;">
                    <div class="row no-gutters">
                        <div class="col-md-4">
                            <img src="{{ product.image.url }}" class="card-img" alt="{{ product.name }}">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">{{ product.name }}</h5>
                                <p class="card-text">{{ product.description }}</p>
                                <p class="card-text"><small class="text-muted">${{ product.price }}</small></p>
                                <a href="{% url 'wishlist:remove_from_wishlist' product.id %}" class="btn btn-danger">Remove</a>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    {% else %}
        <p>You have no items in your wishlist. Start adding now!</p>
    {% endif %}
</div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
{% endblock %}
