<footer class="bg-dark text-light py-4">
    <div class="container">
        <!-- Newsletter -->
        <div class="row align-items-center justify-content-center text-center text-md-left">
            <div id="mc_embed_signup" class="col-md-4 mb-3 mb-md-0">
                <form action="https://gmail.us9.list-manage.com/subscribe/post?u=d3132e66698931dcc626f9322&amp;id=8d8d9e2793&amp;f_id=00dcc4e0f0" 
                      method="post" id="mc-embedded-subscribe-form" 
                      name="mc-embedded-subscribe-form" 
                      class="validate" 
                      target="_blank" 
                      novalidate>
                    <h5>Sign up for the Newsletter</h5>
                    <div class="input-group">
                        <input type="email" name="EMAIL" class="form-control" id="mce-EMAIL" required value="" placeholder="Email Address *">
                        <div class="input-group-append">
                            <input type="submit" name="subscribe" id="mc-embedded-subscribe" class="btn btn-primary" value="Subscribe">
                        </div>
                    </div>
                </form>
            </div>
            <div class="social-icons col-md-4 mb-3 mb-md-0">
                <h5>Follow Us</h5>
                <a href="https://web.facebook.com/profile.php?id=61557205108337" class="mr-2" rel="noopener noreferrer" target="_blank"><i class="fab fa-facebook-f"></i></a>
                <a href="https://www.instagram.com/bidera_store/" rel="noopener noreferrer" target="_blank"><i class="fab fa-instagram"></i></a>
            </div>
        </div>
    </div>
</footer>
