<style type="text/css">
    
    /* Add your own Mailchimp form style overrides in your site stylesheet or in this style block.
       We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
</style>
<footer class="bg-black text-white mt-5">
    <div class="container">
        <!-- MailChimp -->
        <div id="mc_embed_signup">
            <form action="https://gmail.us9.list-manage.com/subscribe/post?u=d3132e66698931dcc626f9322&amp;id=8d8d9e2793&amp;f_id=00dcc4e0f0" 
                  method="post" id="mc-embedded-subscribe-form" 
                  name="mc-embedded-subscribe-form" 
                  class="validate" 
                  target="_blank" 
                  novalidate>
                <div id="mc_embed_signup_scroll">
                    <h2>Sign up for the Newsletter</h2>
                    <div class="indicates-required">
                        <span class="asterisk">*</span> indicates required
                    </div>
                    <div class="mc-field-group">
                        <label for="mce-EMAIL">Email Address <span class="asterisk">*</span></label>
                        <input type="email" name="EMAIL" class="required email" id="mce-EMAIL" required value="">
                    </div>
                    <div id="mce-responses" class="clear">
                        <div class="response" id="mce-error-response" style="display: none;"></div>
                        <div class="response" id="mce-success-response" style="display: none;"></div>
                    </div>
                    <!-- Anti-spam field, hidden from users -->
                    <div aria-hidden="true" style="position: absolute; left: -5000px;">
                        <input type="text" name="b_d3132e66698931dcc626f9322_8d8d9e2793" tabindex="-1" value="">
                    </div>
                    <div class="clear">
                        <input type="submit" name="subscribe" id="mc-embedded-subscribe" class="button" value="Subscribe">
                    </div>
                </div>
            </form>
        </div>
        <div class="social-icons">
            <h5>Follow Us</h5>
            <a href="https://web.facebook.com/profile.php?id=61557205108337" rel="noopener noreferrer" target="_blank"><i class="fab fa-facebook-f"></i></a>
            <a href="https://www.instagram.com/bidera_store/" rel="noopener noreferrer" target="_blank"><i class="fab fa-instagram"></i></a>
            <a href="https://x.com" rel="noopener noreferrer" target="_blank"><i class="fab fa-x"></i></a>
        </div>
        <div class="contact-info">
            <h5>Contact Us</h5>
            <p>Email: biderastore@gmail.com</p>
        </div>
    </div>
</footer>
    