/* Wishlist.css */
.wishlist-heart-container {
    z-index: 1; /* Ensure it's above other elements */
}

.wishlist-heart {
    color: #e2e0e0; /* Default color for empty heart */
    font-size: 1.5rem; /* Adjust size as needed */
    transition: color 0.3s;
}

.wishlist-heart.filled,
.wishlist-heart.filled i {
    color: red; /* Change to desired filled color */
}

.wishlist-heart i {
    cursor: pointer;
}
