/* Wishlist.css */
.wishlist-heart-container {
    display: inline-block;
    margin-left: 10px;
}

.wishlist-heart, .wishlist-heart i {
    cursor: pointer;
    font-size: 1.5rem; /* icon size */
    transition: color 0.2s ease-in-out; /* Smoothing color transition*/
}

.wishlist-heart {
    color: #e2e0e0; /* Default color for empty heart */
}

.wishlist-heart.filled,
.wishlist-heart.filled i {
    color: red; /* Change to desired filled color */
}


.wishlist-heart.filled, .wishlist-heart.filled i {
    color: #d10000; /* Heart color when completed (wishlist) */
}